
div {
	border-style: dashed;
	border-width: 1px;
	border-color: blue;
}

input, button
{
  border:none;
	background-color: rgba(0,0,0,0);
}

.drawer-menu {
	position: fixed;
	top: 0;
	z-index: 2;
	
	background-color: grey;
	width: 200px;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: start;
}

.drawer-button {
	background-color: rgba(0,0,0,0);

}

.main-container {
	margin-left: 200px;
}

.cameras {
	display: grid;
	align-self: flex-end;

	display: flex;
	flex-wrap: wrap;
	gap: 50px;

	justify-content: center;

}

.camera {
	width: 600px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.camera:hover {
	cursor: pointer;

	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transform: scale(1.01);
}