<div id="nav-menu">
    <img class="nav-menu-icon" src="../assets/Icons/icons8-cardápio.svg" alt="" onclick="handleNavMenu()">
    <div class="nav-title">
      <img src="../assets/TecsidelLogo.svg" />
      <h1>Tecsidel</h1>
    </div>

  </div>

  <div id="drawer-menu">
    <div>
      <div class="drawer-title">

        <img src="../assets/TecsidelLogo.svg" />
        <h1>Tecsidel</h1>
      </div>

      <div class="drawer-items">
        <div class="drawer-button">
          <img src="../assets/Icons/HomeIcon.svg" alt="">
          <h3 class="drawer-item">Dashboard</h3>
        </div>

        <a href="../index.html">
          <div class="drawer-button">
            <img src="../assets/Icons/CameraIcon.svg" alt="">
            <h3 class="drawer-item">Cameras</h3>
          </div>
        </a>
      </div>
    </div>
  </div>