<aside class="aside">
    <header>
        <img src="/assets/Logo-Tecsidel.png" alt="logo padrão" class="logo expanded-logo img-fluid">
        <img src="/assets/Logotipo-Eysa-sinclaim.png" alt="logo colapsado" class="logo collapsed-logo img-fluid">
    </header>

    <nav>
        <button>
            <span>
                <i class="bi bi-house-door-fill"></i>
                <span class="text">Dashboard</span>
            </span>
        </button>

        <button>
            <span>
                <i class="bi bi-car-front-fill"></i>
                <span class="text">Tráfego</span>
            </span>
        </button>

        <button>
            <span>
                <i class="bi bi-file-earmark-text-fill"></i>
                <span class="text" id="Gerenciamento">Gerenc. de Equip.</span>
            </span>
        </button>

        <button>
            <span>
                <i class="bi bi-graph-up"></i>
                <span class="text">Estatísticas</span>
            </span>
        </button>

        <button onclick="window.location.href = '/index.html';">
            <span>
                <i class="bi bi-camera-reels-fill"></i>
                <span class="text">Câmeras</span>
            </span>
        </button>

        <button>
            <span>
                <i class="bi bi-gear-fill"></i>
                <span class="text">Configurações</span>
            </span>
        </button>
    </nav>

    <footer>
        <button>

            <div class="dark-mode-toggle">
                <span><i class="bi bi-moon"></i></span>
                <span class="text">Dark mode</span>
                <label class="switch">
                    <input type="checkbox" id="dark-mode-toggle">
                    <span class="slider round"></span>
                </label>
            </div>
        </button>
        <button>
            <span>
                <i class="bi bi-box-arrow-right"></i>
                <span class="text">Sair</span>
            </span>
        </button>
    </footer>
</aside>
