<aside class="aside">
    <header>
        <img src="/assets/Logo-Tecsidel.png" alt="logo padrão" class="logo expanded-logo img-fluid">
        <img src="/assets/Logotipo-Eysa-sinclaim.png" alt="logo colapsado" class="logo collapsed-logo img-fluid">
    </header>
    <nav>
        <button onclick="window.location.href ='/dashboard.html'">
            <span>
                <i class="bi bi-house-door-fill"></i>
                <span class="text">Dashboard</span>
            </span>
        </button>

        <button onclick="window.location.href = '/pages/gerenciamento.html';">
            <span>
                <i class="bi bi-file-earmark-text-fill"></i>
                <span class="text" id="Gerenciamento">Gerenc. de Equip.</span>
            </span>
        </button>
        <button onclick="window.location.href = '/index.html';">
            <span>
                <i class="bi bi-camera-reels-fill"></i>
                <span class="text">Câmeras</span>
            </span>
        </button>
        <button onclick="window.location.href = '/pages/map.html'">
            <span>
                <i class="bi bi-globe-americas"></i>
                <span class="text">Mapa</span>
            </span>
        </button>
    </nav>
    <footer>
        <button onclick="window.location.href = '/login.html';">
            <span>
                <i class="bi bi-box-arrow-right"></i>
                <span class="text">Sair</span>
            </span>
        </button>
    </footer>
</aside>