<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=,, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css" />
</head>


<body>
    <aside class="aside">
        <header>
            <img src="img/tecsidel.png" >
        </header>

        <nav>
            <button>
                <span>
                    <i class="bi bi-house-door-fill"></i>
                    <span>Dashboard</span>
                </span>
            </button>

            <button>
                <span>
                    <i class="bi bi-car-front-fill"></i>
                    <span>Tráfego</span>
                </span>
            </button>

            <button>
                <span>
                    <i class="bi bi-file-earmark-text-fill"></i>
                    <span>Gerenciamento de Equipamento</span>
                </span>
            </button>

            <button> 
                <span>
                    <i class="bi bi-graph-up"></i>
                    <span>Estatísticas</span>
                </span>
            </button>

            <button>
                <span>
                    <i class="bi bi-camera-reels-fill"></i>
                    <span>Câmeras</span>
                </span>
            </button>

            <button>
                <span>
                    <i class="bi bi-gear-fill"></i>
                    <span>Configurações</span>
                </span>
            </button>

        </nav>

        <footer>
            <button>
                <span>
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sair</span>
                </span>
            </button>

        </footer>

    </aside>


    

</body>
</html>