aside {
    margin: 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 30px; 
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: none;
    transition: width 0.3s; 
}


aside header {
    width: 200%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

aside header picture {
    max-width: 50%;
    height: auto;
    object-fit: contain;
    object-position: center;
    border-left: 100;
}




aside button {
    height: 60px;
    background: transparent;
    border: 0;
    cursor: pointer;
    text-align: left;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-bottom: 25px; 
    
    color: rgba(0, 66, 90, 1); 
}

aside button > span {
    display: flex; 
    align-items: center;
    gap: 15px;
    height: 48px;
    padding: 6px 16px 6px 12px;
    transition: all 0.3s;
    font-size: 16px;
    font-style: normal;
    border-radius: 10px;
}

footer button {
    height: 60px;
    background: transparent;
    border: 0;
    cursor: pointer;
    text-align: left;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-bottom: 25px; 
    
    color: rgba(0, 66, 90, 1); 
}

footer button > span {
    display: flex; 
    align-items: center;
    gap: 15px;
    height: 48px;
    padding: 6px 16px 6px 12px;
    transition: all 0.3s;
    font-size: 16px;
    font-style: normal;
}

aside button:hover > span,
aside button:focus-within > span {
    background-color: rgba(0, 66, 90, 0.25);
}

aside button i{
    position: relative;
    font-size: 16px;
    transition: 0.2s;
   
    color: rgba(0, 66, 90, 1); 
}

aside > nav{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
aside > footer{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 481px) and (max-width: 768px) {
    aside {
        width: 60px; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    aside {
        width: 120px; 
    }
}

@media (max-width: 480px){
    aside {
        width: 30px; 
        overflow: hidden; 
    }
    aside:hover {
        width: 240px; 
    }

}

aside button::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -1; 
    pointer-events: none; 
}

aside button:focus-within::after {
    background-color: rgba(255, 255, 255, 0.1); 
}